@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@300&family=Rubik:ital,wght@0,400;0,600;0,800;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik"
}

body {
  background-color: rgb(113, 162, 192);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255,255,255);
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  text-shadow: 2px 2px 2px rgb(86, 62, 172);
}

/* || Buttons || */

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 2em auto;
  width: 40vw;
  height: 30%;
  row-gap: 1em;
}

  button {
  padding: 0.5em 1.5em;
  margin: 0 1em;
  font-weight: 600;
  text-transform: uppercase;
  background-color: rgb(255, 165, 0);
  color: rgb(255,255,255);
  border: 2px solid rgb(79, 115, 136);
  font-size: 27px;
  height: 59px;
  cursor: pointer;
  }

  button:active {
    background-color: rgb(255,255,255);
    color: orange;
    transition: background-color 100ms;

  }

  #new-game {
    width: 100%;
  }

  .results {
    text-align: center;
    color: inherit;
    font-size: 1.5em;
    font-family: monospace;
  }

  #scores {
    text-align: center; 
    margin: 1em auto; 
    padding: 0.5em 0;
    color: rgb(253, 204, 96);
    background-color: rgb(98, 153, 185);
    width: 500px;
  }